:root {
    --main-padding: 30px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 0.4fr 3.2fr 1.2fr 1.2fr;
    grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    gap: 4px;
    height: 100vh;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

nav {
    grid-area: nav;
    background: darkslategrey;
    padding: var(--main-padding);
}

main {
    grid-area: main;
    background: rgb(29, 70, 29);
    padding: var(--main-padding);

}

#sidebar {
    grid-area: sidebar;
    background: rgba(255, 174, 0, 0.575);
    padding: var(--main-padding);

}

#content1 {
    grid-area: content1;
    background: rgba(5, 255, 222, 0.527);
    padding: var(--main-padding);
}

#content2 {
    grid-area: content2;
    background: rgb(255, 251, 0);
    padding: var(--main-padding);
}

#content3 {
    grid-area: content3;
    background: rgb(255, 102, 0);
    padding: var(--main-padding);
}

footer {
    grid-area: footer;
    background: rgba(4, 245, 4, 0.479);
    padding: var(--main-padding);
}

@media only screen and (max-width: 550px) {
    .conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 3.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
        "nav"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";

    }
    #sidebar {
        display: none;
    }

}

